<!-- your html code here -->
<div class="container mb-5 mt-5">
    <div class="row">
        <h3>Servicios</h3>
        <p>Amet consectetur adipisicing elit. Suscipit laboriosam ullam id aspernatur iste quisquam officiis quo minus dolore numquam ad ea, tempora neque assumenda similique earum laudantium tempore atque!</p>
    </div>


    <div class="row d-flex justify-content-center mt-3">
        <form class=" col-7 bg-light rounded-2 ps-5 pt-5 pb-5 pe-3">
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-labelfw-bold">Your Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Your email">
              </div>
            </div>
            
            <div class="row mb-3">
                <label for="ControlTextarea1" class="col-sm-2 col-form-label fw-bold ">Your Message</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="ControlTextarea1" cols="6" rows="7" placeholder="Pleace enter your message here..."></textarea>
                </div>
              </div>
            
           
            <button type="submit" class="btn btn-primary float-end me-5">Sign in</button>
        </form>
    
    </div>
    
        
   


  




    
</div>