<!-- your html code here -->
<div class="container border-top">
    
    <div class="card  border-0  rounded-0">
        <div class="row my-5">
            <div class="col-md-8 col-xs-12 col-lg-8 d-flex justify-content-start my-5 ">
                <div class="card-body">
                  <h1 class="card-title"><strong>The First Heading</strong> Will Catch Your Eye</h1>
                  <p class="card-text lead text-dark">Here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                </div>
            </div>
          <div class="col d-flex justify-content-end  my-5 ">
            <img src="/website/assets/img/1.jpg" class="img-fluid rounded-circle" width="350px" height="350px" alt="...">
          </div>
          
          </div>
        </div>
      </div>

   </div>