<!-- your html code here -->
<div class="container my-4 mb-3">
    <div class="row my-4">
        <h3>Portafolio</h3>
        <p>Lacere aspernatur accusantium architecto officiis porro qui, error sint, dignissimos repellendus deleniti voluptas dolores iure deserunt. Sit amet consectetur adipisicing elit. Impedit doloribus sapiente incidunt, velit dolorem obcaecati quis vero ab provident expedita id voluptates voluptas hic eius amet veritatis iste sit animi.</p>

    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://m.media-amazon.com/images/M/MV5BMTJiMzgwZTktYzZhZC00YzhhLWEzZDUtMGM2NTE4MzQ4NGFmXkEyXkFqcGdeQWpybA@@._V1_QL75_UX500_CR0,0,500,281_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Say my name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis porro maiores quas, laboriosam odio at recusandae distinctio deleniti alias? </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://media.revistagq.com/photos/5d1bf4e82742220b19e33970/3:2/w_2400,h_1600,c_limit/breaking-bad-movie-1541595292.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">i am not in danger, skyler. i am the danger</h5>
              <p class="card-text">Eligendi repellendus deleniti, officia sit illum ipsum unde consequuntur ut nulla?</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://media.gq.com/photos/558288ab1177d66d68d51c9d/master/w_1600%2Cc_limit/blogs-the-feed-breaking-bad-roundup-635.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">I am the one who knocks</h5>
              <p class="card-text">Sunt aliquam libero optio delectus quam ad perferendis, magnam blanditiis quis distinctio perspiciatis ipsam.</p>
            </div>
          </div>
        </div>
        
    </div>
    <span></span>
    
</div>